body {
  margin: 3em;
  background-color: #fff;
}

.gallery {
  display: grid;
  border: 1px #666 solid;
  width: 800px;
  height: 500px;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: 150px;

  /* justify-content: start; */
  /* align-content: start; */

  /* justify-items: stretch; */
  /* align-items: stretch; */
}

.thumbnail img {
  width: auto;
  height: 120px;
}
