body {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: white;
  margin: 0;
}

#container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  border: 2px solid gray;
  display: grid;
  grid-template-rows: 0.7fr 2fr 2fr 1.2fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "ads main links"
    "ads main links"
    "footer footer footer";
  /* justify-content: end;
  align-content: space-around; */
  /* align-items: stretch;
  justify-items: stretch; */
  gap: 5px 10px;
}

#one {
  grid-area: header;
}
#two, #three {
  grid-area: ads;
}
#two {
  z-index: 1;
  opacity: 50%;
  align-items: start;
}
#seven~div {
  grid-area: footer;
  opacity: 50%;
}
.item {
  border: 2px black solid;
  display:flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(5n) {
  background-color: #c64a4c;
}
.item:nth-child(5n + 1) {
  background-color: #f28f4d;
}
.item:nth-child(5n + 2) {
  background-color: #9bc431;
}
.item:nth-child(5n + 3) {
  background-color: #09a7c6;
}
.item:nth-child(5n + 4) {
  background-color: #a353c0;
}