dl {
    display: grid;
    /* grid-template-columns: repeat(2, 8em 1fr); */
    gap: 0.5em;
    /* grid-auto-rows: 6em; */
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 3em 1fr);
}
dt,
dd {
  padding: 0.5em;
  margin: 0;
}
dt {
  background-color: rgb(223, 240, 163);
  font-weight: bold;
}
dd {
  background-color: rgba(223, 240, 163, 0.3);
}
.label {
  font: normal 0.75em sans-serif;
  color: #666;
}